/* main green  #29abe2*/

/*Global*/
.scrolled{
    background-color: rgba(119, 119, 119, 0);

}
*{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    outline: none;
    
}
button{
    outline: none !important;
}


html{
    scroll-behavior: smooth;
}
/* Navbar of bootstep */
.navbar-nav{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
.navbar-brand img{
    height: 70px;
    width: 55px;
}
/* Bootsrap Carousle */
.carousel-inner{
    height: 100vh;
}
.carousel-inner img{
    width: 100%;
    height: 700px;
}
.carousel{
    border-bottom: #29abe2 5px solid;
}

@media (max-width: 768){

    .carousel-inner{
        height: 40vh;
    }
    .carousel-inner img{
        width: 100%;
        height: 400px;
    }
    
}

/*Start Features*/

.intro {
padding:70px 20px ;  
text-align: center;  
font-size: 20px;
}
.intro .text{
    padding: 0 30px;
}
.intro .text p{
    margin: 0;
    color: #777;
}
.features{
    color: #fff;
    background-color: #29abe2;
    text-align: center;
    padding: 40px 0px;
}
.features .feat{
    padding: 0 15px;
}
.features i{
    font-size: 70px;
    margin-bottom: 10px;
}
.features h3{
    margin-bottom: 10px;
}
.features p{
    line-height: 1.5;
}
.features .content{
    display: grid;
    grid-template-columns: repeat(4 ,25%)
}
@media (max-width:768px) {
    .features .content{
        grid-template-columns:50% 50%;

    }

    
}
/* Start About */
.about .content{
    display: grid;
    grid-template-columns: 35% 65%;
    margin-top: 30px;
    color: #777;
}


.about .content .image img{
    width: 100%;

}
.about .content .about-content h5{
    margin-bottom: 20px;
}

.about .right{
    grid-template-columns: 65% 35%;

}
.about .right .about-content .text-control{
    padding: 0 35px;

}


.about .content .about-content button{
    border: 0;
    padding: 10px;
    height: 50px;
    width: 140px;
    border: 5px;
    color: #eee;
    background-color: #29abe2;
}
/*Start Our Projects*/


.projects .control-buttons{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 30px;
    
}
.projects .control-buttons button{
    border: none;
    background-color: #29abe2;
    color: #fff;
    padding: 10px 5px ;
    font-size: 15px;
    font-weight: bold;
    width: 100px;

}
.projects .projects-table{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    gap: 0 10px;
}
@media (max-width : 768px) {
    .projects .projects-table{
    grid-template-columns: repeat(2, 50%);
    
 }
}
.projects .projects-table .table-row .image{
margin-bottom: 10px;
}

.projects .projects-table .table-row .image img{
    width: 100%;
    height: 200px;
}

/* Statrt Our Planes*/

.planes .content{
    display: grid;
    grid-template-columns: repeat(4,25%);
    color: #777;

}
@media (max-width: 768px){
    .planes .content{
        display: grid;
        grid-template-columns: 100%;
        color: #777;
    
    }
    
}

.planes .content .grid-col{
    padding: 0 10px;
}
.planes .content .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 5px 13px -6px black;
    padding-bottom: 20px;

}

.planes .content .card header{
width: 100%;
background-color: #464646;
font-size: 25px;
font-weight: bold;
text-align: center;
padding: 10px 0;
color: #eee;
border: none;
}
.planes .content  {
    transition: 0.5s;
}
.planes .content .card {
    position: relative;
    transition: all 0.3s ease ;
    top: 0;
}
.planes .content .card:hover {
    transform: scale(1.12, 1.12);
    
}
.planes .content .card:hover header{
    background-color: #29abe2;
    color: #fff;
}

.planes .content .card ul{
    list-style: none;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
.planes .content .card ul li{
    padding: 15px 0;
}
.planes .content .card ul li:not(:last-child){
    border-bottom: 1px solid #eee;

}
.planes .content .card button{
background-color: #29abe2;
border: none;
color: #fff;
padding: 5px 40px;
}

    /* Team */

.team .team-content{
    display: grid;
    grid-template-columns:repeat(4, 22%);
    justify-content: space-between;
}
@media (max-width: 900px){
    .team .team-content{
        display: grid;
        grid-template-columns: 60%;
        justify-content: center;
        gap: 10px;
    }
    
}

.team .team-content .card-image img{
    width: 100%;
    height: 250px;
}

.team-content .caption{
    width: 100%;
    text-align: center;
    padding: 20px 0;
    
}

/*Contact*/

.contact form {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.contact form button{
    border: none;
    background-color: #29abe2;
    width: 100%;
    color: white;
    border-radius: 15px;
    padding: 7px 0;
    font-size: 20px;
    width: 500px;
    outline: none;
}
.contact form  input, .contact textarea{
    margin-bottom: 15px;
    border-radius: 15px;
    padding-left: 10px;
    padding-top: 10px;
    box-shadow:0px 0px 5px -3px black;
    max-width: 500px;
}
textarea{
    resize: none;
    height:100px ;
    border: #ccc solid 1px;
    height: 200px !important;
}


/* footer */

footer{
    background-color: #eee;
    padding: 25px 0;
    margin-top: 25px;
}
footer h2{
    margin-bottom: 30px;
}
footer .footer-grid{
    display: grid;
    grid-template-columns: repeat(4,23%);
    justify-content: space-between;
}


@media (max-width:900px) {
    footer .footer-grid{
        display: grid;
        grid-template-columns: repeat(2,40%);
        justify-content: space-between;
    }
    
}
footer .footer-grid .footer-col{
    color: #777;
}
footer ul{
    list-style: none;
}
footer  button{
    width: 30%;
    border: none;
    background-color: #29abe2;
    color: #fff;
}
footer form {
    display: flex;
}

footer form input{
    border: none;
    border-right: none;
}
footer .icons{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    justify-content: space-around;
}
footer .icons i{
    font-size: 18px;
    margin-bottom: 25px;
    color: #2b2b2b;
    transition: 0.5s;
}
footer .icons i:hover{
    color: #29abe2;

}
.copyright{
    padding: 20px 0;
    text-align: center;
    color: #fff;
    background-color: #29abe2;
}
